.advantages {
  margin: 34px 0;
}

.advantages__wrapper {
  padding-left: 28px;
}

.advantages__title {
  @include h2();
}

.advantages__list {
  margin-top: 31px;
}

.advantages__item {
  position: relative;

  margin-top: 29px;
  padding-top: 54px;

  @include set-typography($baseFontSize + 2, $boldFontWeight, $baseLineHeght - 4, $black);

  .advantages__icon {
    position: absolute;
  }

  &--ecological {
    width: 180px;

    .advantages__icon {
      top: 2px;
      left: 10px;
    }
  }

  &--scandy-style {
    width: 210px;

    .advantages__icon {
      top: 3px;
      left: 2px;
    }
  }

  &--growth-likes {
    width: 190px;

    .advantages__icon {
      top: 8px;
      left: 10px;
    }
  }

  &--with-love {
    width: 220px;

    .advantages__icon {
      top: 5px;
      left: 6px;
    }
  }

  &--national {
    width: 260px;

    .advantages__icon {
      top: 6px;
      left: -4px;
    }
  }

  &--gift-wrap {
    width: 210px;

    .advantages__icon {
      top: 4px;
      left: 5px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 81px 0 22px;

    .advantages__list {
      margin-top: 19px;
      margin-left: 6px;
    }
  }

  .advantages__wrapper {
    padding-left: 45px;
  }

  .advantages__title {
    font-size: $h2tabletFontSize;
    line-height: $h2tabletLineHeight;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }

  .advantages__item {
    min-height: 127px;

    font-size: $baseFontSize + 5;
    line-height: $baseLineHeght - 2;

    &--ecological {
      width: 228px;

      .advantages__icon {
        left: 8px;
      }
    }

    &--scandy-style {
      margin-right: 40px;
      width: 260px;

      .advantages__icon {
        top: 2px;
        left: 0;
      }
    }

    &--growth-likes {
      width: 228px;

      .advantages__icon {
        top: 6px;
        left: 8px;
      }
    }

    &--with-love {
      width: 254px;

      .advantages__icon {
        left: 2px;
      }
    }

    &--national {
      width: 296px;

      .advantages__icon {
        top: 5px;
        left: -8px;
      }
    }

    &--gift-wrap {
      width: 236px;

      .advantages__icon {
        top: 2px;
        left: 1px;
      }
    }
  }
}

@media (min-width: $desctop-width) {
  .advantages {
    margin-top: 77px;
  }

  .advantages__title {
    font-size: $h2desctopFontSize;
    line-height: $h2desctopLineHeight;
  }

  .advantages__wrapper {
    padding-right: 226px;
    padding-left: 219px;
  }

  .advantages__item {
    margin-top: 28px;
  }
}
