.button {
  display: inline-block;
  padding: 14px 8px;
  width: 100%;

  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $baseLineHeght - 4;
  text-align: center;
  text-transform: uppercase;

  @include set-color();

  &:hover {
    color: $white;

    background-color: $color-base;
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-base;
  }

  &--seafoam-blue {
    line-height: inherit;

    @include set-color($white, $seafoam-blue, none);

    &:hover {
      background-color: #59d5bc;
    }

    &:active,
    &:focus {
      color: rgba(255, 255, 255, 0.3);

      background-color: #59d5bc;
    }
  }
}
