.cart {
  a {
    display: block;
    padding: 26px 0 29px 77px;
    height: 79px;

    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  }
}

.cart__icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 40px;

    width: 20px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .cart {
    width: 316px;

    a {
      padding: 30px 0 30px 85px;
      height: 88px;
    }
  }

  .cart__icon {
    &::before {
      top: 34px;
      left: 33px;
    }
  }
}

@media (min-width: $desctop-width) {
  .cart {
    a {
      padding-left: 82px;
      height: 88px;
    }
  }
}
