.cart {
  position: relative;
}

.cart__link {
  display: block;
  padding: 26px 0 29px 75px;
  height: 79px;

  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &:hover .cart__icon {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active .cart__icon,
  &:focus .cart__icon {
    opacity: 0.3;

    fill: #63d1bb;
  }
}

.cart__icon {
  position: absolute;
  top: 31px;
  left: 30px;

  width: 20px;
  height: 19px;

  opacity: 0.2;

  fill: #231f20;
}

@media (min-width: $tablet-width) {
  .cart {
    width: 315px;

    border-left: 1px solid #ececec;
  }

  .cart__link {
    padding: 30px 0 30px 83px;
    height: 88px;

    box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ffffff;
  }

  .cart__icon {
    top: 34px;
    left: 33px;
  }
}

@media (min-width: $desctop-width) {
  .cart {
    width: 317px;
  }

  .cart__link {
    padding-left: 82px;
  }
}
