.cart {
  position: relative;

  a {
    display: block;
    padding: 26px 0 29px 75px;
    height: 79px;

    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  }
}

.cart__icon {
  &:hover .cart__link-icon {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active .cart__link-icon,
  &:focus .cart__link-icon {
    opacity: 0.3;

    fill: #63d1bb;
  }
}

.cart__link-icon {
  position: absolute;
  top: 34px;
  left: 32px;

  width: 20px;
  height: 19px;

  opacity: 0.2;

  fill: #231f20;
}

@media (min-width: $tablet-width) {
  .cart {
    width: 315px;

    border-left: 1px solid #ececec;

    a {
      padding: 30px 0 30px 83px;
      height: 88px;

      box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ffffff;
    }
  }

  .cart__icon {
    &::before {
      top: 34px;
      left: 33px;
    }
  }
}

@media (min-width: $desctop-width) {
  .cart {
    width: 317px;

    a {
      padding-left: 82px;
      height: 88px;
    }
  }
}
