.catalog {
  margin: 30px 0 32px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin: 68px 0 53px;
  }
}

@media (min-width: $desctop-width) {
  .catalog {
    margin: 121px 0 0;
  }

  .catalog__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
