$bgcolor-seafoam-blue: $seafoam-blue;
$bgcolor-greeny-blue: #56c3b2;

.category {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.category__header {
  padding: 70px 0 16px;
  min-height: 283px;

  text-align: center;
}

.category__slogan {
  display: inline-block;
  width: 244px;

  font-size: $largFontSize;
  line-height: $largLineHeght;
  color: $very-dark-brown;
  text-align: center;
}

.category__wrapper {
  margin: 0 auto;
}

.category__item {
  position: relative;
}

.category__link {
  position: relative;

  display: block;
  padding: 26px 180px 29px 29px;

  font-size: $baseFontSize + 4;
  font-weight: $boldFontWeight;
  color: $white;

  &:hover {
    margin-top: -5px;
    padding-bottom: 34px;

    svg {
      opacity: 0.7;
    }
  }

  &:active,
  &:focus {
    margin-top: -5px;
    padding-bottom: 34px;

    color: rgba(255, 255, 255, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  &--interior-object {
    background-color: $bgcolor-seafoam-blue;

    svg {
      position: absolute;
      top: 23px;
      right: 36px;

      opacity: 0.5;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #59d5bc;
    }
  }

  &--сhildrens-toy {
    background-color: $bgcolor-greeny-blue;

    svg {
      position: absolute;
      top: 20px;
      right: 27px;

      opacity: 0.5;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $aqua-marine;
    }
  }

  span {
    display: inline-block;

    width: 160px;
  }
}

@media (min-width: $tablet-width) {
  .category {
    position: relative;

    margin-top: -41px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 24px;

      background: url("../img/zigzag-fill-desktop-svg.svg") repeat-x center 2px;
      background-size: contain;
    }
  }

  .category__header {
    padding-top: 152px;
    min-height: 626px;
  }

  .category__slogan {
    width: 504px;

    font-size: $h2tabletFontSize;
    line-height: $h2tabletLineHeight;
    color: $black;
  }

  .category__wrapper {
    padding: 0 52px;
  }

  .category__link {
    padding: 26px 130px 46px 35px;
    height: 100%;

    font-size: $baseFontSize + 5;
    line-height: $largLineHeght;

    &:hover {
      padding-bottom: 51px;
    }

    &:active,
    &:focus {
      padding-bottom: 51px;
    }

    &--interior-object {
      svg {
        top: 30px;
      }
    }

    &--сhildrens-toy {
      svg {
        top: 32px;
        right: 33px;
      }
    }
  }

  .category__list {
    display: flex;
  }

  .category__item {
    width: 50%;
  }
}

@media (min-width: $desctop-width) {
  .category {
    &::after {
      height: 34px;

      background-size: auto;
    }
  }

  .category__slogan {
    width: 624px;

    font-size: $h2desctopFontSize;
    line-height: $h2desctopLineHeight;
  }

  .category__wrapper {
    padding: 0;
    width: 1050px;
  }

  .category__link {
    padding: 26px 336px 50px 36px;

    &:hover {
      padding-bottom: 55px;
    }

    &:active,
    &:focus {
      padding-bottom: 55px;
    }
  }

  .category__item {
    width: 525px;
  }
}
