.contacts {
  margin: 86px auto 38px;

  .contacts__list {
    margin-top: 23px;
  }

  iframe {
    margin-top: 7px;
    width: 100%;

    border: none;

    background-color: #ffffff;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
      background-size: 322px auto;
    }
  }
}

.contacts__wrapper {
  position: relative;
}

.contacts__title {
  margin: 10px 30px;

  font-size: $baseFontSize + 3;
  line-height: $largLineHeght;
  color: $black;

  svg {
    display: none;
  }
}

.contacts__item {
  display: flex;
  margin: 26px 30px;

  line-height: $largLineHeght;
}

.contacts__info {
  margin: 0 0 4px 30px;

  &--adress {
    max-width: 184px;
  }
}

.contacts__email-link {
  height: 29px;

  color: $color-base;

  box-shadow: 0 1px 0 0 rgb(98, 209, 186);

  &:hover {
    color: $aqua-marine;
  }

  &:active,
  &:focus {
    color: $aqua-marine;

    box-shadow: 0 1px 0 0 rgba(98, 209, 186, 0.1);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 146px;
    margin-bottom: 56px;

    .contacts__list {
      margin-left: 20px;
    }

    iframe {
      margin-top: 27px;
      background-image: url("../img/map-tablet@1x.jpg");
      background-position: 50% 0;

      @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }
  }

  .contacts__title {
    padding-left: 15px;

    font-size: $h2tabletFontSize;
    line-height: $h2tabletLineHeight;

    svg {
      position: absolute;
      top: -14px;
      right: 53px;

      display: block;
    }
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    margin-right: 25px;

    font-size: $baseFontSize + 2;
  }

  .contacts__info {
    margin-left: 22px;
  }

  .contacts__info--adress {
    max-width: 224px;
  }
}

@media (min-width: $desctop-width) {
  .contacts {
    margin-top: 161px;
    margin-bottom: 105px;
    width: 1150px;

    iframe {
      position: relative;
      margin-top: 0;
      margin-left: -25px;
      width: 525px;

      background-image: url("../img/map-desktop@1x.jpg");

      order: 1;

      @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-desktop@2x.jpg");
        background-size: 525px auto;
      }
    }

    .contacts__list {
      margin-top: 48px;
    }
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    height: 457px;
  }

  .contacts__header {
    margin-top: 60px;
    padding-left: 164px;
  }

  .contacts__title {
    font-size: $h2desctopFontSize;
    line-height: $h2desctopLineHeight;

    svg {
      top: 62px;
      right: auto;
      left: 103px;
    }
  }

  .contacts__list {
    display: block;
  }

  .contacts__item {
    margin: 26px 30px 0;
  }

  .contacts__info {
    margin-left: 24px;
  }
}
