.contacts {
  margin: 86px auto 38px;

  .contacts__list {
    margin-top: 23px;
  }

  iframe {
    margin-top: 7px;
    width: 100%;

    border: none;
  }
}

.contacts__wrapper {
  position: relative;
}

.contacts__title {
  margin: 10px 30px;

  font-size: $baseFontSize + 3;
  line-height: $largLineHeght;
  color: $black;

  svg {
    display: none;
  }
}

.contacts__item {
  display: flex;
  margin: 26px 30px;

  line-height: $largLineHeght;
}

.contacts__info {
  margin: 0 0 4px 30px;

  &--adress {
    max-width: 184px;
  }
}

.contacts__email-link {
  padding-bottom: 4px;

  color: $color-base;

  box-shadow: 0 1px 0 0 rgb(98, 209, 186);

  &:hover {
    color: $aqua-marine;
  }

  &:active,
  &:focus {
    color: $aqua-marine;

    box-shadow: 0 1px 0 0 rgba(98, 209, 186, 0.1);
    opacity: 0.3;
  }
}

.contacts__write-button {
  display: block;
  margin: 33px auto;
  max-width: 260px;
  font-size: $baseFontSize + 3;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 146px;
    margin-bottom: 56px;

    .contacts__list {
      margin-left: 20px;
    }

    iframe {
      margin-top: 27px;
      width: 100%;
    }
  }

  .contacts__title {
    padding-left: 15px;

    font-size: $h2tabletFontSize;
    line-height: $h2tabletLineHeight;

    svg {
      position: absolute;
      top: -14px;
      right: 53px;

      display: block;
    }
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    margin-right: 25px;

    font-size: $baseFontSize + 2;
  }

  .contacts__info {
    margin-left: 22px;
  }

  .contacts__info--adress {
    max-width: 224px;
  }

  .contacts__write-button {
    margin: 49px auto;
    max-width: 230px;

    font-size: $baseFontSize + 2;
  }
}

@media (min-width: $desctop-width) {
  .contacts {
    margin-top: 222px;
    margin-bottom: 104px;
    width: 1150px;

    iframe {
      position: relative;
      margin-top: -60px;
      margin-left: -25px;
      width: 525px;

      order: 1;
    }

    .contacts__list {
      margin-top: 46px;
    }
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    margin-left: 10px;
  }

  .contacts__header {
    padding-left: 164px;
  }

  .contacts__title {
    font-size: $h2desctopFontSize;
    line-height: $h2desctopLineHeight;

    svg {
      top: 2px;
      right: auto;
      left: 103px;
    }
  }

  .contacts__list {
    display: block;
  }

  .contacts__info {
    margin-left: 24px;
  }

  .contacts__write-button {
    margin: 51px 0 0 215px;
  }
}
