.form__group {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  .form__list--radio {
    margin-top: 34px;
  }

  .form__list--checkbox {
    margin-top: 26px;
  }

  .form__list--fio {
    margin-top: 29px;
  }

  .form__list--contact {
    margin-top: 8px;
  }

  .form__list--textarea {
    margin-top: 26px;
  }
}

.form__group--radio {
  margin-bottom: 22px;

  border: none;
}

.form__group--checkbox {
  border: none;
}

.form__list--radio {
  .form__item:not(:last-child) {
    margin-bottom: 20px;
  }

  input:checked + .form__radio::after {
    content: "";

    position: absolute;
    left: 12px;
    top: 4px;

    width: 16px;
    height: 16px;

    background-color: $seafoam-blue;
    border-radius: 50%;
  }
}

.form__list--checkbox {
  .form__item:not(:last-child) {
    margin-bottom: 22px;
  }

  input:checked + .form__checkbox::after {
    content: "";

    position: absolute;
    left: 15px;
    top: 7px;

    width: 10px;
    height: 21px;

    border-bottom: 2px solid #5a5758;
    border-right: 2px solid #5a5758;

    transform: rotate(45deg);
  }
}

.form__list--fio {
  .form__item:not(:last-child) {
    margin-bottom: 22px;
  }
}

.form__radio,
.form__checkbox {
  position: relative;

  display: block;
  padding-left: 62px;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $color-base;
  }

  &:hover {
    &::before {
      border-color: $seafoam-blue;
    }
  }

  &:active,
  &:focus {
    &::before {
      border-color: rgba(68, 68, 68, 0.3);
    }
  }
}

.form__radio {
  min-height: 40px;

  &::before {
    top: -8px;

    border-radius: 50%;
  }
}

.form__checkbox {
  padding: 11px 8px 10px 62px;

  &::before {
    height: 39px;
  }
}

.form__group--phone {
  .form__item {
    position: relative;
  }

  svg {
    position: absolute;
    right: 8px;
    top: 11px;

    opacity: 0.2;
  }
}

.form__group--email {
  .form__item {
    position: relative;
  }

  svg {
    position: absolute;
    right: 4px;
    top: 11px;

    opacity: 0.2;
  }
}

.form__title {
  position: relative;

  display: flex;
  align-items: center;
  padding: 0;

  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $miniLineHeght;
  text-transform: uppercase;
  color: $seafoam-blue;

  &::after {
    content: "";

    margin-left: 25px;
    width: 100%;
    height: 1px;

    background-color: $seafoam-blue;
  }
}

.form__item {
  @include set-typography($baseFontSize + 2, $boldFontWeight, $miniLineHeght + 2, $black);

  input,
  textarea {
    width: 100%;

    font-size: inherit;
    line-height: inherit;
    color: $color-base;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  input[type="text"] {
    height: 52px;

    border: none;
    box-shadow: inset 0 -2px 0 0 #000000;

    &:hover,
    &:focus {
      box-shadow: inset 0 -2px 0 0 $seafoam-blue;
    }
  }

  input[type="tel"] {
    font-size: $baseFontSize + 4;
  }

  input[type="tel"],
  input[type="email"] {
    padding-right: 43px;
    height: 52px;

    border: none;
    box-shadow: inset 0 -2px 0 0 #000000;

    &:hover,
    &:focus {
      box-shadow: inset 0 -2px 0 0 $seafoam-blue;

      & + svg {
        fill: $seafoam-blue;

        opacity: 1;
      }
    }
  }

  textarea {
    padding: 13px 14px;

    height: 142px;

    border: 2px solid $color-base;

    resize: none;

    &:hover,
    &:focus {
      border-color: $seafoam-blue;
    }
  }
}

.form__input-outline:focus + label::before {
  outline: 2px solid #a6c7ff;
}

.form__text {
  margin: -16px 0 32px;

  font-size: $baseFontSize - 1;
  line-height: $miniLineHeght;
}

.form__submit {
  padding: 16px 8px;

  line-height: $miniLineHeght;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form__group {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;

    .form__list {
      margin-top: 0;
    }
  }

  .form__title {
    flex-shrink: 0;

    width: 165px;

    &::after {
      display: none;
    }
  }

  .form__group--radio {
    padding: 50px 8px 46px 52px;
  }

  .form__group--checkbox {
    padding: 47px 8px 29px 52px;

    background-color: $white-two;
  }

  .form__group--fio {
    padding: 50px 50px 50px 52px;
  }

  .form__group--phone {
    padding: 50px 50px 24px 52px;

    background-color: $white-two;

    input {
      background-color: $white-two;
    }

    svg {
      right: 26px;
    }
  }

  .form__group--email {
    padding: 0 50px 50px 52px;

    background-color: $white-two;

    input {
      background-color: $white-two;
    }

    svg {
      right: 22px;
    }
  }

  .form__group--textarea {
    align-items: flex-start;

    padding: 50px 50px 52px 52px;

    .form__title {
      padding-top: 16px;
    }
  }

  .form__list {
    width: 100%;
  }

  .form__item {
    font-size: $baseFontSize + 4;

    input[type="text"] {
      padding: 0 16px;
    }

    input[type="tel"],
    input[type="email"] {
      padding: 0 58px 0 16px;
    }
  }

  .form__radio {
    min-height: 58px;

    &::before {
      left: 0;
      top: 3px;

      width: 52px;
      height: 51px;
    }
  }

  .form__checkbox {
    width: 261px;
    min-height: 52px;

    &::before {
      left: 0;
      top: 3px;

      width: 54px;
      height: 52px;
    }
  }

  .form__list--radio {
    .form__item:not(:last-child) {
      margin-bottom: 19px;
    }

    input:checked + .form__radio::after {
      left: 15px;
      top: 18px;

      width: 22px;
      height: 22px;
    }
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;

    .form__item:not(:last-child) {
      margin-bottom: 24px;
    }

    input:checked + .form__checkbox::after {
      left: 19px;
      top: 9px;

      width: 17px;
      height: 31px;
    }
  }

  .form__radio,
  .form__checkbox {
    padding-top: 18px;
    padding-left: 81px;
  }

  .form__list--fio {
    .form__item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .form__label {
      padding: 15px 25px 0 0;
    }
  }

  .form__block-submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form__text {
    margin: 10px 50px 25px;

    font-size: $baseFontSize + 2;
    line-height: $largLineHeght;
  }

  .form__submit {
    margin-left: 50px;
    max-width: 230px;
    height: 52px;
  }
}

@media (min-width: $desctop-width) {
  .form__list--radio {
    .form__item:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  .form__list--checkbox {
    .form__item:not(:last-child) {
      margin-left: 4px;
    }
  }

  .form__title {
    width: 111px;
  }

  .form__radio,
  .form__checkbox {
    padding-top: 17px;
  }

  .form__list {
    width: 840px;
  }

  .form__group--radio {
    padding: 50px 8px 46px 114px;
  }

  .form__group--checkbox {
    padding: 50px 8px 27px 109px;
  }

  .form__group--fio {
    padding: 50px 225px 50px 111px;
  }

  .form__group--phone {
    padding: 50px 225px 24px 112px;

    .form__title {
      width: 113px;
    }

    svg {
      right: 8px;
    }
  }

  .form__group--email {
    padding: 0 225px 51px 112px;

    .form__title {
      width: 113px;
    }

    svg {
      right: 4px;
    }
  }

  .form__group--textarea {
    padding: 50px 225px 49px 112px;

    .form__title {
      width: 113px;
    }
  }

  .form__list--fio {
    .form__label {
      padding: 15px 25px 0 4px;
    }
  }

  .form__list--contact,
  .form__list--textarea {
    max-width: 700px;
  }

  .form__submit {
    margin-left: 225px;
  }

  .form__text {
    margin: 10px 224px 23px 0;
  }
}
