.logo {
  a {
    display: inline-block;
  }

  &--top {
    padding: 22px;
    height: 79px;

    text-align: center;

    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

    a {
      &[href] {
        &:hover {
          opacity: 0.6;
        }

        &:active,
        &:focus {
          opacity: 0.3;
        }
      }
    }
  }

  &--bottom {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--top {
      flex-grow: 1;
      flex-basis: 46%;
      padding-left: 49px;
      height: 88px;

      text-align: left;

      border-right: 1px solid #ececec;
      box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ffffff;

      img {
        width: 112px;
      }
    }

    &--bottom {
      margin-right: 81px;
      display: block;
    }
  }


  .logo__link-bottom {
    &[href] {
      &:hover {
        path {
          fill: $aqua-marine;
        }
      }

      &:active,
      &:focus {
        opacity: 0.3;

        path {
          fill: $aqua-marine;
        }
      }
    }
  }
}

@media (min-width: $desctop-width) {
  .logo {
    &--top {
      flex-basis: auto;
      padding: 9px;
      padding-left: 43px;

      img {
        width: 149px;
      }
    }
  }
}
