.main-nav {
  position: relative;

  margin: 0 auto;
  min-height: 79px;

  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $baseLineHeght;

  a {
    display: block;

    color: $black;

    &[href] {
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      &:active,
      &:focus {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 12;

  display: block;
  width: 84px;
  height: 72px;

  background-color: #ffffff;
  border: none;

  cursor: pointer;
}

.main-nav__item {
  &--post {
    display: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed {
      .main-nav__toggle {
        &::before {
          content: "";

          position: absolute;
          top: 30px;
          left: 33px;

          width: 20px;
          height: 2px;

          background-color: #000000;
          box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
        }
      }

      .main-nav__item:not(.main-nav__item--logo) {
        display: none;
      }
    }

    &--opened {
      width: 100%;

      .main-nav__wrapper {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;

        width: 100%;

        background-color: #ffffff;
      }

      .main-nav__toggle {
        &::before,
        &::after {
          content: "";

          position: absolute;
          top: 38px;
          left: 30px;

          width: 27px;
          height: 2px;

          background-color: #000000;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      position: static;
      min-height: 0;
    }

    .main-nav__item:not(.main-nav__item--offers):not(.main-nav__item--post) {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0;
    width: auto;

    z-index: 10;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
  }

  .main-nav__item {
    &--post {
      display: block;
      margin-top: 18px;
      margin-left: auto;
      padding-right: 50px;
      order: 2;

      font-size: $baseFontSize;
      font-weight: $baseFontWeight;
      color: $color-base;
    }
  }
}

@media (min-width: $desctop-width) {
  .main-nav__wrapper {
    width: 1150px;
  }
}
