.main-nav {
  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $baseLineHeght;

  a {
    display: block;
    padding: 30px;
    padding-left: 77px;

    color: $black;

    box-shadow: 0 1px 0 0 rgb(236, 236, 236);
  }
}
