.ordering {
  margin: 22px 30px 55px;
}

.ordering__text {
  font-size: $baseFontSize - 2;
}

.ordering__form {
  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .ordering {
    margin: 60px auto 30px;
    //width: 768px;
  }

  .ordering__text {
    margin: 0;
    padding: 0 50px;

    font-size: $baseFontSize + 2;
    line-height: $largLineHeght;
  }

  .ordering__form {
    margin-top: 5px;
  }
}

@media (min-width: $desctop-width) {
  .ordering {
    width: 1150px;
    margin: 113px auto 38px;
  }

  .ordering__text {
    margin: 0 auto;
    max-width: 699px;
  }
}
