.page-footer {
  margin-top: 38px;
  padding: 18px 30px;

  background-color: $white-two;
}

.page-footer__wrapper {
  margin: 8px auto 0;
  width: 230px;

  text-align: center;
}

.page-footer__copyright {
  margin-top: 20px;
  padding-top: 17px;

  box-shadow: inset 0 1px 0 0 #ececec;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 42px 30px 48px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
  }

  .page-footer__social {
    width: 224px;

    box-shadow: none;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

@media (min-width: $desctop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
