.page-footer {
  padding: 20px 30px;

  background-color: $white-two;

  .copyright__text {
    font-size: $baseFontSize + 4;
    font-weight: $boldFontWeight;
    line-height: $baseLineHeght - 6;
    color: $black;
  }
}
