.page-inner__heading {
  margin: 0;
  padding: 70px 30px 77px;

  @include h1();

  background-color: $white-two;
}

@media (min-width: $tablet-width) {
  .page-inner__heading {
    padding: 53px 30px 81px;

    font-size: $h2tabletFontSize;
    line-height: $h2tabletLineHeight;
  }
}

@media (min-width: $desctop-width) {
  .page-inner__heading {
    padding: 52px 30px 103px;

    font-size: $h2desctopFontSize;
    line-height: $h2desctopLineHeight;
  }
}
