.product-week {
  margin: 34px 30px 36px;
}

.product-week__title {
  @include h2();
}

.product-week__subject {
  @include set-typography($baseFontSize + 2, $boldFontWeight, $baseLineHeght - 4, $seafoam-blue);
}

.product-week__price {
  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $baseLineHeght;
}
