.product-week {
  margin: 34px 30px 36px;
  .product-week__title {
    @include h2();
  }

  .product-week__subject {
    font-size: $baseFontSize + 2;
    font-weight: $boldFontWeight;
    line-height: $baseLineHeght - 4;
    color: $seafoam-blue;
  }

  .property__description,
  .property__value {
    line-height: $baseLineHeght - 4;
  }

  .product-week__price {
    font-size: $baseFontSize + 2;
    font-weight: $boldFontWeight;
    line-height: $baseLineHeght;
  }
}
