.search-form {
  position: relative;

  a {
    display: block;
    padding: 26px 0 29px 76px;
    height: 79px;
    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  }
}

.search-form__icon {
  &:hover .search-form__link-icon {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active .search-form__link-icon,
  &:focus .search-form__link-icon {
    opacity: 0.3;

    fill: #63d1bb;
  }
}

.search-form__link-icon {
  position: absolute;
  top: 31px;
  left: 31px;

  width: 20px;
  height: 19px;

  opacity: 0.2;

  fill: #231f20;
}

@media (min-width: $tablet-width) {
  .search-form {
    a {
      width: 82px;
      height: 88px;

      box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ffffff;
    }

    span {
      display: none;
    }
  }

  .search-form__link-icon {
    top: 36px;
    left: 33px;
  }
}
