.search-form__icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 40px;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
