.search-form {
  a {
    display: block;
    padding: 26px 0 29px 77px;
    height: 79px;
    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  }
}

.search-form__icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 40px;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .search-form {
    a {
      width: 82px;
      height: 88px;
    }

    span {
      display: none;
    }
  }

  .search-form__icon {
    &::before {
      top: 36px;
      left: 33px;
    }
  }
}
