.select-size {
  margin: 0 auto;

  font-size: $baseFontSize + 2;
  font-weight: $boldFontWeight;
  line-height: $miniLineHeght;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;

    list-style: none;
  }

  input:checked + .select-size__label {
    border-color: #62d1ba;
  }
}

.select-size__label {
  display: block;
  padding: 16px 8px;
  width: 82px;

  border: solid 2px rgba(68, 68, 68, 0.1);

  cursor: pointer;

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .select-size {
    max-width: 350px;
  }

  .select-size__label {
    width: 112px;
  }
}
