.site-list {
  a {
    display: block;
  }

  &--offers {
    display: none;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &--menu {
    margin: 0;
    padding: 0;

    list-style: none;

    a {
      display: block;
      padding: 26px 0 29px 77px;
      box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    a {
      margin-top: 18px;
      padding: 0;

      box-shadow: none;
    }

    &--menu {
      display: flex;
      flex-grow: 1;
      order: 1;
      padding-left: 49px;

      a {
        margin-right: 37px;

        font-size: $baseFontSize;
      }
    }
  }
}

@media (min-width: $desctop-width) {
  .site-list {
    &--menu {
      flex-grow: 0;
      order: -1;
      padding-left: 17px;

      a {
        margin: 0;
        padding: 30px 34px 29px;
        height: 88px;

        font-size: $baseFontSize + 2;
        text-align: center;

        box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
      }
    }

    &--offers {
      display: flex;
      flex-grow: 1;
      margin-left: 51px;

      .site-list__item {
        margin-right: 60px;
      }

      a {
        font-size: $baseFontSize;
        text-align: center;
      }
    }
  }
}
