.site-list {
  a {
    display: block;
  }

  &--post,
  &--offers {
    display: none;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &--menu {
    margin: 0;
    padding: 0;

    list-style: none;

    a {
      display: block;
      padding: 26px 0 29px 77px;
      box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    a {
      margin-top: 22px;
      padding: 0;
      height: 16px;

      box-shadow: none;
    }

    &--menu {
      display: flex;
      flex-grow: 1;
      order: 1;
      padding-left: 52px;

      a {
        margin-right: 37px;
      }
    }

    &--post {
      display: block;
      margin-left: auto;
      padding-right: 52px;
      order: 2;
    }
  }
}

@media (min-width: $desctop-width) {
  .site-list {
    &--menu {
      flex-grow: 0;
      order: -1;
      padding-left: 0;

      a {
        margin: 0;
        padding: 26px 0 29px;
        width: 235px;
        height: 88px;
        text-align: center;
        box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
      }
    }

    &--offers {
      display: flex;
      flex-grow: 1;

      a {
        width: 235px;
        text-align: center;
      }
    }
  }
}
