.social {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  max-width: 184px;

  align-items: center;
  list-style: none;

  li:last-child {
    margin-right: 5px;
  }
}

.social__icon {
  fill: #231f20;

  &:hover {
    fill: $aqua-marine;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    fill: $aqua-marine;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 10px;
  }
}
