.social {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;

  align-items: center;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 12px;
  }
}
