.video-produce {
  margin: 32px 0 58px;
}

.video-produce__wrapper {
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active,
  &:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-produce__title {
  position: relative;

  margin: 23px 0 24px;
  padding-left: 89px;

  font-size: $baseFontSize + 2;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 33px;

    width: 32px;
    height: 28px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.video-produce__video-image {
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

.video-produce__play-video {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -39px;
  margin-left: -50px;

  &:hover {
    transform: scale(1.2);
  }

  &:active,
  &:focus {
    opacity: 0.3;

    transform: scale(0.8);
  }
}

.video-produce__description {
  margin: 28px 33px 25px;

  font-size: $baseFontSize - 2;
}

.video-produce__button {
  display: block;
  margin: 25px auto 32px;
  padding: 16px 8px;
  max-width: 192px;

  line-height: $miniLineHeght;
}

@media (min-width: $tablet-width) {
  .video-produce {
    margin: 32px 0 63px;
  }

  .video-produce__wrapper {
    display: flex;
    flex-direction: column;
  }

  .video-produce__title {
    margin: 36px 0 24px;
    padding-left: 103px;

    font-size: $baseFontSize + 5;

    &::before {
      top: -4px;
      left: 39px;
    }
  }

  .video-produce__video-image {
    order: -1;

    img {
      width: 100%;
      min-height: 455px;
    }

    &::before {
      top: 41%;
      left: 50%;
    }
  }

  .video-produce__description {
    margin: 9px 38px 10px;

    font-size: $baseFontSize;
    line-height: $largLineHeght;
  }

  .video-produce__button {
    margin: 25px 39px 45px;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: $desctop-width) {
  .video-produce {
    margin: 3px 0 105px;
  }

  .video-produce__wrapper {
    flex-wrap: wrap;
    align-content: flex-start;
    height: 455px;
  }

  .video-produce__title {
    margin: 94px 0 24px;
    padding-left: 78px;
    max-width: 300px;

    &::before {
      top: -53px;
      left: 78px;
    }
  }

  .video-produce__video-image {
    width: 682px;
  }

  .video-produce__description {
    margin: 10px 8px 10px 77px;
    max-width: 282px;
  }

  .video-produce__button {
    margin: 36px 39px 45px 79px;
    width: 100%;
    max-width: 230px;
  }
}
