html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;

  @include set-typography();
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main,
.page-inner {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.container {
  //width: $mobile-width;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .container {
    //width: $tablet-width;
    padding: 0 52px;
  }
}

@media (min-width: $desctop-width) {
  .container {
    width: $desctop-width;
    padding: 0 50px;
  }
}
