@mixin set-color($color: $color-base, $bgcolor: $white, $border: 2px solid $color-base) {
  color: $color;
  background-color: $bgcolor;
  border: $border;
}

@mixin h1() {
  margin: 0;

  font-size: $largFontSize;
  line-height: $largLineHeght;
  text-align: center;
  color: $black;
}

@mixin h2() {
  margin: 0;

  font-size: $largFontSize - 2;
  line-height: $largLineHeght;
  color: $black;
}

@mixin set-typography($FontSize: $baseFontSize, $FontWeight: $baseFontWeight, $LineHeght: $baseLineHeght, $color: $color-base) {
  font-size: $FontSize;
  font-weight: $FontWeight;
  line-height: $LineHeght;
  color: $color;
}
