//Media запросы
$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1150px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;

//Типографика
$baseFontSize: 15px;
$largFontSize: 27px;
$baseFontWeight: 400;
$boldFontWeight: 700;
$miniLineHeght: 16px;
$baseLineHeght: 24px;
$largLineHeght: 30px;

$h2baseFontSize: 25px;
$h2tabletFontSize: 43px;
$h2desctopFontSize: 53px;
$h2baseLineHeight: 30px;
$h2tabletLineHeight: 50px;
$h2desctopLineHeight: 57px;

//Оформление;
$color-base: #444444;
$black: #000000;
$very-dark-brown: #010000;
$white-four: #ececec;
$white: #ffffff;
$white-two: #f1f1f1;
$seafoam-blue: #63d1bb;
$aqua-marine: #46c1ae;
