//Media запросы
$mobile-width: 320px;
$tablet-width: 772px;
$desctop-width: 1150px;

//Типографика
$baseFontSize: 15px;
$largFontSize: 27px;
$baseFontWeight: 400;
$boldFontWeight: 700;
$miniLineHeght: 16px;
$baseLineHeght: 24px;
$largLineHeght: 30px;

//Оформление;
$color-base: #444444;
$black: #000000;
$very-dark-brown: #010000;
$white-four: #ececec;
$white: #ffffff;
$white-two: #f1f1f1;
$seafoam-blue: #63d1bb;
